h1{
    background-color: black;
    text-align: center;
    color: white;
}
#timerSpace{

}
#questionSpace{

}
#answerSpace{

}
#reset{
    background-color: red;
    float: right;
}
#start{
    background-color: green;
    float: left;
}