h1{
    background-color: black;
    text-align: center;
    color: white;
}
#timerSpace{
    text-align: center;

}
#questionSpace{
    text-align: center;

}
#answerSpace{
    text-align: center;

}
#reset{
    background-color: red;
}
#start{
    background-color: green;

}
.btn btn-primary btn-lg{
    text-align: center;
}
.card{
    background-color: white;
}